<section class="featuredby-wrapper container pt-8">
    <div class="featuredby-feed glide">
        <h2 class="featured-title" style="font-size:3rem;">Featured By</h2>
        <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
            <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                <svg class="icon">
                    <use xlink:href="#chevron-left"></use>
                </svg>
            </button>
            <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                <svg class="icon">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </button>
        </div>
        <div class="glide__track pt-8" data-glide-el="track">
            <div class="glide__slides">
                <div class="glide__slide">
                	<a target="_blank" href="https://www.oneyoungworld.com/sites/default/files/2024-04/impact-report.pdf">
                		<img class="h-32 m-auto align-middle" 
                            src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/featured-by/OneYoungWorldImpactReport.jpg" 
                            alt="One Young World Impact Report: Social Return of Investment: $682,495,840.00 (680 million dollars). Page 176 of the report."/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.forbes.com/profile/advisory-singapore/">
                		<img class="h-32 m-auto align-middle" 
                            src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/featured-by/Forbes30.jpg" 
                            alt="Forbes 30 Under 30 Asia Social Impact Organisation"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.samsungmobilepress.com/feature-stories/meet-the-generation17-young-leaders-the-story-of-mock-yi-jun">
                		<img class="h-32 m-auto align-middle" 
                            src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/featured-by/UNDPSamsungGeneration17.jpg" 
                            alt="UNDP - Samsung Generation 17"/>
                	</a>
                </div>
            </div>
        </div>
    </div>
</section>