<section class="featuredby-wrapper container">
    <div class="featuredby-feed glide">
        <h2 class="featured-title">Featured By</h2>
        <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
            <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                <svg class="icon">
                    <use xlink:href="#chevron-left"></use>
                </svg>
            </button>
            <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                <svg class="icon">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </button>
        </div>
        <div class="glide__track pt-8" data-glide-el="track">
            <div class="glide__slides">
                <div class="glide__slide">
                	<a target="_blank" href="https://www.channelnewsasia.com">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/CNA.png?ssl=1" alt="Logo of Channel News Asia"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.queensyoungleaders.com">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/QYL.jpg?ssl=1" alt="Logo of The Queens' Young Leaders Programme"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://thesmartlocal.com">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/TSL-Singapore.png?ssl=1" alt="Logo of The Smart Local Singapore"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://queenscommonwealthtrust.org">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/QCT-PNG.png?ssl=1" alt="Logo of The Queen's Commonwealth Trust"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.ricemedia.co">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/Rice.png?ssl=1" alt="Logo of Rice Media"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://youthopia.sg">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/YouthSG.jpg?ssl=1" alt="Logo of Youthopia"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.shinmin.sg">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/Lianhe-Zaobao.png?ssl=1" alt="Logo of 新明日报"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.shinmin.sg">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/Lianhe-Wanbao-1.jpg?ssl=1" alt="Logo of 新明日报"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://mosg.tv/">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/MoS.jpg?ssl=1" alt="Logo of Millennials of SG"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://www.rhodeshouse.ox.ac.uk/">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/11/Rhodes.jpg?ssl=1" alt="Logo of The Rhodes Trust"/>
                	</a>
                </div>
                <div class="glide__slide">
                	<a target="_blank" href="https://nus.edu.sg/">
                		<img class="h-32 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/11/National_University_of_Singapore_logo_NUS.png?ssl=1" alt="Logo of National University of Singapore"/>
                	</a>
                </div>
            </div>
        </div>
    </div>
</section>