<footer class="site-footer container">
    <div class="social">
        {{#if @site.facebook}}
            <a class="social-item social-item-facebook"
                href="https://www.facebook.com/advisorysg/" target="_blank"
                rel="noopener noreferrer" aria-label="Facebook" >
                <svg class="icon">
                    <use xlink:href="#facebook-box"></use>
                </svg>
            </a>
        {{/if}}
        <a class="social-item social-item-instagram" 
            href="https://www.instagram.com/advisory.sg/"
            target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <svg class="icon" style="margin-left:3px ;margin-top:3px">
                <use xlink:href="#instagram" ></use>
            </svg>
        </a>        
        <a class="social-item social-item-linkedin"
            href='https://www.linkedin.com/company/advisorysg/' target="_blank" 
            rel="noopener noreferrer" aria-label="Linkedin" >
            <svg class="icon">
                <use xlink:href="#linkedin"></use>
            </svg>
        </a> 

    </div>

    <div class="copyright">
        Powered by <a href="https://ghost.org/" target="_blank"
            rel="noopener noreferrer">Ghost</a>
    </div>

    <nav class="footer-nav">
        {{navigation type="secondary"}}
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-system">
                <use xlink:href="#circle-half-full"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">System theme</span>
        </a>
    </nav>
</footer>