





{{!-- THIS WAS COPY PASTED FROM HALOGEN !!!!!!!!! --}}
{{!-- DONT USE YHI SPLEAAAAAAAAAAAAAAAASE --}}






<div data-vc-full-width="true" data-vc-full-width-init="true"
    class="vc_row wpb_row vc_row-fluid vc_custom_1586934036979 vc_row-has-fill"
    style="position: relative; left: -55px; box-sizing: border-box; width: 1280px; padding-left: 55px; padding-right: 55px;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1521647485267">
            <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                <div class="section-header text-center">
                    <h3 class="section-title">Get Involved</h3>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_column-gap-25">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                class="vc_single_image-img "
                                                src="https://halogen.sg/wp-content/uploads/2018/04/PARTICIPATE_2-80x80.png"
                                                width="80" height="80" alt="PARTICIPATE_2" title="PARTICIPATE_2"></div>
                                    </figure>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Participate</h3>
                                        <p style="text-align: center;">Engage us in programmes to develop your youth</p>
                                    </div>
                                </div>
                                <div class="vc_btn3-container vc_btn3-center"> <a
                                        onmouseleave="this.style.borderColor='#181815'; this.style.backgroundColor='transparent'; this.style.color='#181815'"
                                        onmouseenter="this.style.borderColor='#181815'; this.style.backgroundColor='#181815'; this.style.color='#ffcd00';"
                                        style="border-color: rgb(24, 24, 21); color: rgb(24, 24, 21); background-color: transparent;"
                                        class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-outline-custom"
                                        href="https://halogen.sg/programmes/" title="">Participate</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                class="vc_single_image-img "
                                                src="https://halogen.sg/wp-content/uploads/2018/04/DONATE_2-80x80.png"
                                                width="80" height="80" alt="DONATE_2" title="DONATE_2"></div>
                                    </figure>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Donate</h3>
                                        <p style="text-align: center;">Contribute to the work of youth development</p>
                                    </div>
                                </div>
                                <div class="vc_btn3-container vc_btn3-center"> <a
                                        onmouseleave="this.style.borderColor='#181815'; this.style.backgroundColor='transparent'; this.style.color='#181815'"
                                        onmouseenter="this.style.borderColor='#181815'; this.style.backgroundColor='#181815'; this.style.color='#ffcd00';"
                                        style="border-color:#181815; color:#181815;"
                                        class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-outline-custom"
                                        href="https://halogen.sg/donate/" title="">Donate</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                class="vc_single_image-img "
                                                src="https://halogen.sg/wp-content/uploads/2018/04/VOLUNTEER_2-80x80.png"
                                                width="80" height="80" alt="VOLUNTEER_2" title="VOLUNTEER_2"></div>
                                    </figure>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Volunteer</h3>
                                        <p style="text-align: center;">Give your time to work with young people</p>
                                    </div>
                                </div>
                                <div class="vc_btn3-container vc_btn3-center"> <a
                                        onmouseleave="this.style.borderColor='#181815'; this.style.backgroundColor='transparent'; this.style.color='#181815'"
                                        onmouseenter="this.style.borderColor='#181815'; this.style.backgroundColor='#181815'; this.style.color='#ffcd00';"
                                        style="border-color:#181815; color:#181815;"
                                        class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-outline-custom"
                                        href="https://halogen.sg/halogenplus-volunteer/" title="">Volunteer</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                class="vc_single_image-img "
                                                src="https://halogen.sg/wp-content/uploads/2018/04/COCREATE_2-80x80.png"
                                                width="80" height="80" alt="COCREATE_2" title="COCREATE_2"></div>
                                    </figure>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Co-Create</h3>
                                        <p style="text-align: center;">Develop a brand new programme with us</p>
                                    </div>
                                </div>
                                <div class="vc_btn3-container vc_btn3-center"> <a
                                        onmouseleave="this.style.borderColor='#181815'; this.style.backgroundColor='transparent'; this.style.color='#181815'"
                                        onmouseenter="this.style.borderColor='#181815'; this.style.backgroundColor='#181815'; this.style.color='#ffcd00';"
                                        style="border-color:#181815; color:#181815;"
                                        class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-outline-custom"
                                        href="https://halogen.sg/co-create/" title="">Co-Create</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
            </div>
        </div>
    </div>
</div>