<style>
.impact-section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{{@custom.home_impact_image}}");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 6em;
    width: 100%;
    color: white;
}
.impact-section-title {
    color: white;
}

.impact-section-single-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 16px;
}

.impact-section-entry-title {
    color: white;
    font-size: 18px;
    margin-bottom: 32px;
}

.impact-section-description-title {
    margin-top: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.impact-section-description-text {
    color: white;
    font-size: 18px;
    margin-bottom: 32px;
}
</style>


<section class="impact-section">  
    <h2 class="featured-title" style="font-size:3rem;">Impact</h2>
    <div class="grid gap-16 grid-cols-1 md:grid-cols-3 md:w-4/5 lg:w-3/5 m-auto p-4">
        <div class="flex flex-col text-center w-full">
            <div class="h-36">
                <p class="impact-section-single-title">15,022</p>
                <p class="impact-section-entry-title">Mentorship Hours &amp; Sharing</p>
            </div>
            <br/>
            <div class="border border-white p-4 flex-auto">
                <p class="impact-section-description-title">Every hour goes a long way. </p>
                <p class="impact-section-description-text">
                    Consistently delivering quality mentorship and programmes for our youths
                </p>
            </div>
        </div>
        <div class="flex flex-col text-center w-full">
            <div class="h-36">
                <p class="impact-section-single-title">278,549</p>
                <p class="impact-section-entry-title">Engaged Students &amp; Youths</p>
            </div>
            <br/>
            <div class="border border-white p-4 flex-auto">
                <p class="impact-section-description-title">No one should be left behind.</p>
                <p class="impact-section-description-text">
                    Every young person, regardless of background, will continue to have free access to resources. That’s our promise.
                </p>
            </div>
        </div>
        <div class="flex flex-col text-center w-full">
            <div class="h-36">
                <p class="impact-section-single-title">547,324</p>
                <p class="impact-section-entry-title">Repository Views</p>
            </div>
            <br/>
            <div class="border border-white p-4 flex-auto">
                <p class="impact-section-description-title">Anytime. Anywhere.</p>
                <p class="impact-section-description-text">
                    Access information from experts anytime, anywhere with our vast free repository.
                </p>
            </div>
        </div>
    </div>
</section>