<section class="container pb-24">  
  <h2 class="featured-title" style="font-size:3rem;">Get Involved</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <article class="feed-card m-auto w-full transform transition-all duration-200">
      <div class="flex flex-col h-100 overflow-hidden">
        <img class="h-72 p-16 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/07/EduR.png" alt="Events" />
        <div class="grow bg-white px-3 pb-5 text-center">
          <p class="text-4xl font-bold my-5">School / Educator</p>
          <p class="text-xl my-4 line-clamp-4">Our work isn’t limited to public events. We work with many  schools to ensure Advisory continues to reach out to students. Let us know and we can collaborate to put together a tailor-made event for your students!.</p>
          <a href="/join-us/">
            <button type="button" class="border border-gray-300 py-2 px-2 rounded">
              <p class="text-xl my-2">Read More</p>
            </button>
          </a>
        </div>
      </div>
    </article>

    <article class="feed-card m-auto w-full transform transition-all duration-200">
      <div class="flex flex-col h-100 overflow-hidden">
        <img class="h-72 m-auto"  src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/07/Correspondent.png" alt="Mentorship" />
        <div class="grow bg-white px-3 pb-5 text-center">
          <p class="text-4xl font-bold my-5">Working Professional</p>
          <p class="text-xl my-4 line-clamp-4">We are only able to do what we do with the support of working professionals who share our passion for empowering young Singaporeans to make informed career choices. Join us as a Member of the Advisory Professionals Network!</p>
          <a href="/join-us/" target="_blank">
            <button type="button" class="border border-gray-300 py-2 px-2 rounded">
              <p class="text-xl my-2">Read More</p>
            </button>
          </a>
        </div>
      </div>
    </article>

    <article class="feed-card m-auto w-full transform transition-all duration-200">
      <div class="flex flex-col h-100 overflow-hidden">
        <img class="h-72 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/07/Developer.png" alt="Interviews" />
        <div class="grow bg-white px-3 pb-5 text-center">
          <p class="text-4xl font-bold my-5">Youth Volunteer</p>
          <p class="text-xl my-4 line-clamp-4">We need enthusiastic and committed volunteers who share our passion for empowering young Singaporeans to make informed career choices. Come join us as a Correspondent and/or Web Developer!.</p>
          <a href="/join-us/">
            <button type="button" class="border border-gray-300 py-2 px-2 rounded">
              <p class="text-xl my-2">Read More</p>
            </button>
          </a>
        </div>
      </div>
    </article>
  </div>
</section>