<section class="partners-wrapper container">
            <div class="partners-feed glide">
                <h2 class="featured-title" style="font-size:3rem;">Our Partners</h2>
                <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
                    <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </button>
                    <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                        <svg class="icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/our-partners/Inspirit.jpg">
                        </div>
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/our-partners/NYC.jpg">
                        </div>
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/our-partners/YCS.jpg">
                        </div>
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/home/our-partners/YoungNTUC.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
