<section class="container pb-24 pt-24">
  <h2 class="featured-title" style="font-size:3rem;">What we do</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <article class="feed-card m-auto w-full transform transition-all duration-200">
      <div class="flex flex-col h-100 overflow-hidden">
        <img style="object-fit: cover; height: 200px; border: 1px solid #808080; border-radius: 16px;" src="https://s3-ap-southeast-1.amazonaws.com/advisorysg-ghost/2021/10/insights-prod-man.png" alt="Events" />
        <div class="grow bg-white px-3 pt-10 pb-5 text-center">
          <p class="text-4xl font-bold my-5">Upcoming Events</p>
          <p class="text-xl my-4 line-clamp-4">Advisory organizes a wide range of events, whereby individuals can interact with industry professionals.</p>
          <a href="/events">
            <button type="button" class="border border-gray-300 py-2 px-2 rounded">
              <p class="text-xl my-2">Read More</p>
            </button>
          </a>
        </div>
      </div>
    </article>

    <article class="feed-card m-auto w-full transform transition-all duration-200">
      <div class="flex flex-col h-100 overflow-hidden">
        <img style="object-fit: cover; height: 200px; border: 1px solid #808080; border-radius: 16px;" src="https://s3-ap-southeast-1.amazonaws.com/advisorysg-ghost/2021/10/Yeh-Lin-1.jpeg" alt="Mentorship" />
        <div class="grow bg-white px-3 pt-10 pb-5 text-center">
          <p class="text-4xl font-bold my-5">Mentorship</p>
          <p class="text-xl my-4 line-clamp-4">The Advisory Mentorship Programme pairs students with working professionals in their fields of interest.</p>
          <a href="https://mentorship.advisory.sg" target="_blank">
            <button type="button" class="border border-gray-300 py-2 px-2 rounded">
              <p class="text-xl my-2">Read More</p>
            </button>
          </a>
        </div>
      </div>
    </article>

    <article class="feed-card m-auto w-full transform transition-all duration-200">
      <div class="flex flex-col h-100 overflow-hidden">
        <img style="object-fit: cover; height: 200px; border: 1px solid #808080; border-radius: 16px;" src="https://s3-ap-southeast-1.amazonaws.com/advisorysg-ghost/2021/10/34.png" alt="Interviews" />
        <div class="grow bg-white px-3 pt-10 pb-5 text-center">
          <p class="text-4xl font-bold my-5">Interviews</p>
          <p class="text-xl my-4 line-clamp-4">Advisory conducts interviews with professionals from a wide range of fields.</p>
          <a href="/stories">
            <button type="button" class="border border-gray-300 py-2 px-2 rounded">
              <p class="text-xl my-2">Read More</p>
            </button>
          </a>
        </div>
      </div>
    </article>
  </div>
</section>