<section class="partners-wrapper container">
            <div class="partners-feed glide">
                <h2 class="featured-title">Our Partners</h2>
                <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
                    <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </button>
                    <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                        <svg class="icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/Inspirit.jpg?&ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/NYC.jpg?&ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/YCS.jpg?&ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-44 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/YoungNTUC.jpg?&ssl=1">
                        </div>
                    </div>
                </div>
            </div>
        </section>
