<section class="quotes-wrapper container pb-24">
    <br/>
    <div class="quotes-feed glide">
        <h2 class="featured-title" style="font-size:3rem;">What People Say</h2>
        <div class="glide__track pt-8" data-glide-el="track">
            <div class="glide__slides">
                <div class="glide__slide">
                    <div class="text-center text-3xl">
                        “We have a moral imperative to ensure all young people can get the support they need to thrive in society; 
                        and that society must be structured to provide diverse pathways for young people to succeed”
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">Dr Aaron Maniam</span>
                            <br/>
                            <span>Chair, Board of Advisors</span>
                        </cite>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="text-center text-3xl">
                        “It always amazes me how much passion the volunteers at Advisory put into their mission. 
                        Kudos to the team for their commitment towards helping youths make more informed career choices and 
                        for connecting youths to opportunities and possibilities.”
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">David Lee</span>
                            <br/>
                            <span>Assistant Director, Singapore Maritime Foundation</span>
                        </cite>	
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="text-center text-3xl">
						“Having a mentor is akin to having a friend from the future who’s in your ideal career path, 
                        sharing with you advice you need to hear to gear up for your future. 
                        Through the mentorship I received, I gained loads of skills and knowledge and broadened my connections as well.”	
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">Irdina Bte Mohd Fadzli</span>
                            <br/>
                            <span>Student</span>
                        </cite>
                    </div>
                </div>
            </div>
        </div>
        <div class="glide__bullets text-center pt-2" data-glide-el="controls[nav]">
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=0"></button>
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=1"></button>
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=2"></button>
        </div>
    </div>
</section>
        
