<section class="quotes-wrapper container pb-24">
    <div class="quotes-feed glide">
        <h2 class="featured-title"><br/></h2>
        <div class="glide__track pt-8" data-glide-el="track">
            <div class="glide__slides">
                <div class="glide__slide">
                    <div class="text-center text-3xl">
                        “On behalf of the National University of Singapore, I affirm Advisory’s work in providing students from all walks of life the opportunities and resources they need to make informed career choices.”
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">Associate Professor Peter Pang</span>
                            <br/>
                            <span>Dean of Students, National University of Singapore</span>
                        </cite>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="text-center text-3xl">
                        "With the support of the National Youth Council, Advisory provides youth with the opportunity to connect with working professionals from a wide range of sectors. This helps them gain a better understanding of the different career pathways available today."
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">Mr Baey Yam Keng</span>
                            <br/>
                            <span>Senior Parliamentary Secretary, MCCY &amp; MOT</span>
                        </cite>	
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="text-center text-3xl">
						“I support [Advisory] and applaud the team’s effort to bridge the gap between young Singaporeans and the working world by providing insights into jobs and industries available today.”	
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">Mr Ong Kah Kuang</span>
                            <br/>
                            <span>Executive Director, Youth Corps Singapore</span>
                        </cite>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="text-center text-3xl">
						"Youth have expressed a desire [amidst COVID-19] to continue growing, developing, and upskilling, and I'm glad that Advisory's series of online Discovery+ industry panels and mentorship programmes are meeting these needs."
                    </div>
                    <br/>
                    <div class="text-center text-xl">
                        <cite>
                            <span class="font-bold">Minister Grace Fu</span>
                            <br/>
                            <span>Minister for Culture, Community and Youth</span>
                        </cite>
                    </div>
                </div>
            </div>
        </div>
        <div class="glide__bullets text-center pt-2" data-glide-el="controls[nav]">
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=0"></button>
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=1"></button>
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=2"></button>
            <button class="glide__bullet h-2.5 w-2.5 bg-slate-300 rounded-full mx-2" data-glide-dir="=3"></button>
        </div>
    </div>
</section>
        
