<style>
.quotes-section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://sampleadvisoryimpact.my.canva.site/media/d77729fa71e7f9b912fde6a591e82afa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 6em;
    width: 100%;
    color: white;
}
</style>
<section class="quotes-section mb-24">
    <div class="w-4/5 lg:w-3/5 m-auto"> 
        <h2 class="featured-title" style="font-size:3rem;">What People Say</h2>
        <br><br>
        <div class="grid gap-16 grid-cols-1 md:grid-cols-3 m-auto p-4">
            <div class="flex flex-col text-center w-full">
                <div class="flex-auto text-3xl">
                    “We have a moral imperative to ensure all young people can get the support they need to thrive in society; 
                    and that society must be structured to provide diverse pathways for young people to succeed”	
                </div>
                <br/>
                <div class="h-14 text-xl">
                    <cite>
                        <span class="font-bold">Dr Aaron Maniam</span>
                        <br/>
                        <span>Chair, Board of Advisors</span>
                    </cite>
                </div>
            </div>
            <div class="flex flex-col text-center w-full">
                <div class="flex-auto text-3xl">
                    “It always amazes me how much passion the volunteers at Advisory put into their mission. 
                    Kudos to the team for their commitment towards helping youths make more informed career choices and 
                    for connecting youths to opportunities and possibilities.”
                </div>
                <br/>
                <div class="h-14 text-xl">
                    <cite>
                        <span class="font-bold">David Lee</span>
                        <br/>
                        <span>Assistant Director, Singapore Maritime Foundation</span>
                    </cite>	
                </div>
            </div>
            <div class="flex flex-col text-center w-full">
                <div class="flex-auto text-3xl">
                    “Having a mentor is akin to having a friend from the future who’s in your ideal career path, 
                    sharing with you advice you need to hear to gear up for your future. 
                    Through the mentorship I received, I gained loads of skills and knowledge and broadened my connections as well.”	
                </div>
                <br/>
                <div class="h-14 text-xl">
                    <cite>
                        <span class="font-bold">Irdina Bte Mohd Fadzli</span>
                        <br/>
                        <span>Student</span>
                    </cite>
                </div>
            </div>
        </div>
    </div>
</section>
        
