{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |related|}}
    {{#if related}}
        <section class="related-wrapper">
            <div class="container large">
                <h3 class="related-title">You might also like...</h3>
                <div class="related-feed grid grid-cols-1 lg:grid-cols-3 gap-x-20 gap-y-10 m-auto">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </div>
        </section>
    {{/if}}
{{/get}}
