        <section class="tag">        
            <div class="container w-9/12">
                {{#get "tags" limit="all" as |tags|}}
                    {{#if tags}}
                        <div class="tag-list">
                            {{#foreach tags}}
                                <a href="{{url}}">
                                  <div
                                    class="text-xl inline-flex items-center font-bold 
                                    leading-sm px-4 py-2 my-1 rounded-full 
                                    bg-brand-light text-gray-800 tag-element"
                                  >
                                    {{name}}
                                  </div>
                                </a>
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            </div>
        </section>
