{{!< default}}

{{#contentFor "title"}}Page Not Found{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <header class="single-header kg-canvas">
            <h1 class="single-title">Page Not Found</h1>
        </header>
        <div class="single-content kg-canvas u-text-format">
            <p class="block text-center">
                <b>We couldn’t find the page you were looking for.</b>
            </p>
            <div class="kg-card kg-button-card kg-align-center">
                <a href="/" class="kg-btn kg-btn-accent">Go Back</a>
            </div>
        </div>
    </main>
</div>
