{{!< default}}

{{#contentFor "title"}}Events{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <header class="single-header kg-canvas">
            <h1 class="single-title">Events</h1>
        </header>
        {{> post-filter-list collection="events" filter="tag:hash-insights" mode="or"}}
    </main>
</div>
