{{!< default}}

{{#contentFor "title"}}{{meta_title}}{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        {{!-- Placeholder comment --}}
        {{> our-partners}}
        {{> featured-by}}
    </main>
</div>
