{{!< default}}

{{#contentFor "title"}}Stories{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <header class="single-header kg-canvas">
            <h1 class="single-title">Stories</h1>
        </header>
        <section class="tag">
            <div class="container w-9/12">
                {{#get "tags" limit="all" as |tags|}}
                    {{#if tags}}
                        <div class="tag-list max-h-40 overflow-clip">
                            <span class="tag-list-label">Industries:</span>
                            {{#foreach tags}}
                                <a href="{{url}}">
                                  <div
                                    class="text-lg inline-flex items-center font-bold 
                                    leading-sm uppercase px-3 py-1 rounded-full 
                                    bg-amber-400 text-gray-800 border"
                                  >
                                    {{name}}
                                  </div>
                                </a>
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            </div>
            <button class="mt-4 tag-expand-button">Read more</button>
        </section>
        <div class="post-feed container grid grid-cols-1 lg:grid-cols-3 gap-x-20 gap-y-10 m-auto">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>
