{{!< default}}

{{#contentFor "title"}}Interviews{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <header class="single-header kg-canvas">
            <h1 class="single-title">Interviews</h1>
        </header>
        {{> post-filter-list
            collection="interviews"
            filter="tag:[hash-conversations,hash-conversations-2,hash-conversations-3,hash-reflections,hash-reflections-2]"
            mode="or"}}
    </main>
</div>
