{{!< default}}

<div class="content-area">
  <main class="site-main">
    <header class="single-header kg-canvas">
        <h1 class="single-title">The Team</h1>
    </header>
    <section class="body-font" x-data='{
      "team": {
        "board": {
          "Board of Advisors": [
            {"name": "Aaron Maniam", "note": "Chair", "href": "/board-of-advisors-aaron-maniam/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Aaron.jpg"},
            {"name": "Alvin Tan", "note": "", "href": "/board-of-advisors-alvin-tan/", "img_src": "https://i2.wp.com/advisory.sg/wp-content/uploads/2019/02/Alvin-Tan.jpg?resize=768%2C768&ssl=1"},
            {"name": "Brad Verne", "note": "", "href": "/board-of-advisors-brad-verne/", "img_src": "https://advisory.sg/wp-content/uploads/2022/01/BradVerne.jpg"},
            {"name": "David Chua", "note": "", "href": "/board-of-advisors-david-chua/", "img_src": "https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg"},
            {"name": "Desmond M. Koh", "note": "", "href": "/board-of-advisors-desmond-m-koh/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Desmond.jpg"},
            {"name": "Eric Lim", "note": "", "href": "/board-of-advisors-eric-lim/", "img_src": "https://advisory.sg/wp-content/uploads/2022/01/UOB-Mr-Eric-Lim-Chief-Sustainability-Officer-scaled-1.jpg"},
            {"name": "Hosea Lai", "note": "", "href": "/board-of-advisors-hosea-lai/", "img_src": "https://advisory.sg/wp-content/uploads/2020/04/Hosea-Square.jpg"},
            {"name": "Jaclyn Seow", "note": "", "href": "/board-of-advisors-jaclyn-seow/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Jaclyn.jpg"},
            {"name": "Jacqueline Poh", "note": "", "href": "/board-of-advisors-jacqueline-poh/", "img_src": "https://advisory.sg/wp-content/uploads/2020/10/Jacqueline-Poh.jpg"},
            {"name": "Juliana Chan", "note": "", "href": "/board-of-advisors-juliana-m-chan/", "img_src": "https://advisory.sg/wp-content/uploads/2022/02/Juliana-1.jpg"},
            {"name": "Khairul Rusydi", "note": "", "href": "/board-of-advisors-khairul-rusydi/", "img_src": "https://advisory.sg/wp-content/uploads/2019/09/Rusydi.jpg"},
            {"name": "Mohamed Faizal", "note": "", "href": "/board-of-advisors-mohamed-faizal-mohamed-abdul-kadir/", "img_src": "https://advisory.sg/wp-content/uploads/2020/10/Mohamed-Faizal_new.jpg"},
            {"name": "Serene Goh", "note": "", "href": "/board-of-advisors-serene-goh/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Serene.jpg"},
            {"name": "Simo Chesterman", "note": "", "href": "/board-of-advisors-simon-chesterman/", "img_src": "https://i0.wp.com/advisory.sg/wp-content/uploads/2022/07/simon-chesterman.jpg?w=800&ssl=1"},
            {"name": "Wong Sheau Fong", "note": "", "href": "/board-of-advisors-wong-sheau-fong/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Sheau-Fong.jpg"},
            {"name": "Wu Jiezhen", "note": "", "href": "/board-of-advisors-wu-jiezhen/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Jiezhen.jpg"},
          ],
          "Communities: The Advisory Professionals Network Co-chairs": [
            {"name": "Rahul Daswani", "note": "", "href": "/pronet-co-chair-rahul-daswani/", "img_src": "https://advisory.sg/wp-content/uploads/2020/05/Rahul-Daswani-Square.jpg"},
            {"name": "Shawn Loh", "note": "", "href": "/pronet-co-chair-shawn-loh/", "img_src": "https://advisory.sg/wp-content/uploads/2020/05/Shawn-Loh-Square.jpg"},
            {"name": "Timothy Low", "note": "", "href": "/pronet-co-chair-timothy-low/", "img_src": "https://advisory.sg/wp-content/uploads/2020/05/Timothy-Low-Square.jpg"},
            {"name": "Jesley Chua", "note": "", "href": "/pronet-co-chair-jesley-chua/", "img_src": "https://i0.wp.com/advisory.sg/wp-content/uploads/2021/02/JC-Pic.jpg"},
          ],
          "Communities: Educators Roundtable Co-chairs": [
            {"name": "David Hoe", "note": "", "href": "/board-of-advisors-david-hoe/", "img_src": "https://advisory.sg/wp-content/uploads/2019/09/David-Hoe.jpg"},
            {"name": "Marvin Kang", "note": "", "href": "/board-of-advisors-marvin-kang/", "img_src": "https://advisory.sg/wp-content/uploads/2019/09/Marvin-Kang.jpg"},
            {"name": "Nakul Asija", "note": "", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
            {"name": "TBC", "note": "", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
          ],
          "Board of Directors": [
            {"name": "Mock Yi Jun", "note": "Co-Founder & President", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Yi-Jun_Edited.png"},
            {"name": "Loon Kin Yip, Brendan", "note": "Co-Founder & Director", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Brendan_Edited.png"},
            {"name": "Ng Yau Xuan", "note": "Co-Founder & Director", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/YauXuan_Edited_4.png"},
            {"name": "Justin Quek", "note": "Deputy President (External)", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Justin_Edited_3.png"},
            {"name": "Teow Junhao", "note": "Deputy President (Public Engagements)", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/JunHao_Edited.png"},
            {"name": "Sabariesh Ilankanthir", "note": "Deputy President (Student Engagements)", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2022/02/Advisory_Sab.jpg"},
            {"name": "Yeo Su Yia, Denise", "note": "Head of People & Culture", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Denise_Edited.png"},
            {"name": "Lim Xinyi, Nicole", "note": "Director", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Nicole_Edited.png"},
          ],
          "Chiefs": [
            {"name": "Neo Xuan Ling", "note": "Chief Marketing Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/XuanLing_Edited_2-1.png?w=800&ssl=1"},
            {"name": "Chen Yusi", "note": "Chief Mentorship Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/Yusi-Edited.png?w=800&ssl=1"},
            {"name": "Zhang Zhi", "note": "Chief Networks Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/ZhangZhi_Edited.png?w=800&ssl=1"},
            {"name": "Akshath Malik", "note": "Chief Operations Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2022/02/Advisory_Akshath.jpg?w=800&ssl=1"},
            {"name": "Yeo Bao Shin", "note": "Chief Financial Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/BaoShin_Edited.png?w=800&ssl=1"},
            {"name": "Sabariesh Ilankanthir", "note": "Chief Schools Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2022/02/Advisory_Sab.jpg?w=800&ssl=1"},
            {"name": "Ng Wei En", "note": "Chief Technology Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/WeiEn_Edited_2.png?w=800&ssl=1"},
          ],
        },
      },
    }'>
      <div class="container mt-16">
          <template x-for="[category, members] in Object.entries(team.board)">
            <div>
              <h2 class="featured-title" style="font-size:3rem;" x-text="category">[CATEGORY]</h2>
              <br>
              <div class="flex flex-wrap -m-4">
                <template x-for="member in members">
                  <div class="p-4 lg:w-1/4 md:w-1/2">
                    <div class="h-full flex flex-col items-center text-center">
                        <a x-bind:href="member.href">
                            <img class="shadow rounded-full w-full aspect-square align-middle border-none" x-bind:src="member.img_src" x-bind:alt="head.name">
                        </a>
                        <div class="p-4 text-center font-normal">
                          <p>
                            <b x-text="member.name">[MEMBER]</b>
                            <br>
                            <span x-text="member.note">[NOTE]</span>
                          </p>
                        </div>
                    </div>
                  </div>
                </template>                                                 
              </div>
              <br>
            </div>
          </template>
      </div>
    </section>
  </main>
</div>
