{{!< default}}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h1 class="entry-title">The Team</h1>
        </div>
        <br>
        <center><h1 class="single-title">BOARD OF ADVISORS</h1></center>
        <br>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-aaron-maniam/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Aaron.jpg" alt="Aaron Maniam">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Aaron Maniam</b><br>Chair</p></div>
                </div>
            </div>    
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-alvin-tan/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://i2.wp.com/advisory.sg/wp-content/uploads/2019/02/Alvin-Tan.jpg?resize=768%2C768&ssl=1" alt="Alvin Tan">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Alvin Tan</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-brad-verne/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2022/01/BradVerne.jpg" alt="Brad Verne">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Brad Verne</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>
            <!-- add here -->
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>            
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>            
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>   
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>                                                               
            <!-- end here --> 
        </div>
    </div>
</section>

<!-- original codes
<div class="parent">
<div class="display: inline-block;">
    <div class="gallery">
        <a href="https://advisory.sg/board-of-advisors-aaron-maniam/">
            <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/08/Aaron.jpg" alt="Aaron Maniam">
        </a>
        <div class="desc">Aaron Maniam<p>Chair</p></div>
    </div>

    <div class="gallery">
        <a href="https://advisory.sg/board-of-advisors-alvin-tan/">
            <img style="circular-image" src="https://i2.wp.com/advisory.sg/wp-content/uploads/2019/02/Alvin-Tan.jpg?resize=768%2C768&ssl=1" alt="Alvin Tan">
        </a>
        <div class="desc">Alvin Tan<p><br></p></div>
    </div>

    <div class="gallery">
        <a href="https://advisory.sg/board-of-advisors-brad-verne/">
            <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2022/01/BradVerne.jpg" alt="Brad Verne">
        </a>
        <div class="desc">Brad Verne<p><br></p></div>
    </div>

    <div class="gallery">
        <a href="https://advisory.sg/board-of-advisors-david-chua/">
            <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
        </a>
        <div class="desc">David Chua<p><br></p></div>
    </div>
</div>
</div>
-->
<!--
<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-desmond-m-koh/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/08/Desmond.jpg" alt="David Chua">
  </a>
  <div class="desc">Desmond M. Koh<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-eric-lim/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2022/01/UOB-Mr-Eric-Lim-Chief-Sustainability-Officer-scaled-1.jpg" alt="Eric Lim">
  </a>
  <div class="desc">Eric Lim<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-hosea-lai/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2020/04/Hosea-Square.jpg" alt="Hosea Lai">
  </a>
  <div class="desc">Hosea Lai<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-jaclyn-seow/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/08/Jaclyn.jpg" alt="Jaclyn Seow">
  </a>
  <div class="desc">Jaclyn Seow<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-jacqueline-poh/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2020/10/Jacqueline-Poh.jpg">
  </a>
  <div class="desc">Jacqueline Poh<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-juliana-m-chan/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2022/02/Juliana-1.jpg">
  </a>
  <div class="desc">Juliana Chan<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-khairul-rusydi/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/09/Rusydi.jpg" alt="Khairul Rusydi">
  </a>
  <div class="desc">Khairul Rusydi<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-mohamed-faizal-mohamed-abdul-kadir/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2020/10/Mohamed-Faizal_new.jpg">
  </a>
  <div class="desc">Mohamed Faizal<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-serene-goh/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/08/Serene.jpg" alt="Serene Goh">
  </a>
  <div class="desc">Serene Goh<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-wong-sheau-fong/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/08/Sheau-Fong.jpg" alt="Wong Sheau Fong">
  </a>
  <div class="desc">Wong Sheau Fong<p><br></p></div>
</div>

<div class="gallery">
  <a href="https://advisory.sg/board-of-advisors-wu-jiezhen/">
    <img style="circular-image" src="https://advisory.sg/wp-content/uploads/2019/08/Jiezhen.jpg" alt="Wu Jiezhen">
  </a>
  <div class="desc">Wu Jiezhen<p><br></p></div>
</div>
-->