{{!< default}}

<div class="content-area">
  <main class="site-main">
    <header class="single-header kg-canvas">
        <h1 class="single-title">The Team</h1>
    </header>
    <section class="body-font" x-data='{
      "team": {
        "board": {
          "Board of Advisors": [
            {"name": "Aaron Maniam", "note": "Chair", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Aaron.jpg"},
            {"name": "Alvin Tan", "note": "", "href": "/board-of-advisors-alvin-tan/", "img_src": "https://i2.wp.com/advisory.sg/wp-content/uploads/2019/02/Alvin-Tan.jpg?resize=768%2C768&ssl=1"},
            {"name": "David Chua", "note": "", "href": "/board-of-advisors-david-chua/", "img_src": "https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg"},
            {"name": "Desmond M. Koh", "note": "", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Desmond.jpg"},
            {"name": "Eric Lim", "note": "", "href": "/board-of-advisors-eric-lim/", "img_src": "https://advisory.sg/wp-content/uploads/2022/01/UOB-Mr-Eric-Lim-Chief-Sustainability-Officer-scaled-1.jpg"},
            {"name": "Hosea Lai", "note": "", "href": "/board-of-advisors-hosea-lai/", "img_src": "https://advisory.sg/wp-content/uploads/2020/04/Hosea-Square.jpg"},
            {"name": "Jaclyn Seow", "note": "", "href": "/board-of-advisors-jaclyn-seow/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Jaclyn.jpg"},
            {"name": "Jacqueline Poh", "note": "", "href": "/board-of-advisors-jacqueline-poh/", "img_src": "https://advisory.sg/wp-content/uploads/2020/10/Jacqueline-Poh.jpg"},
            {"name": "Juliana Chan", "note": "", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2022/02/Juliana-1.jpg"},
            {"name": "Mohamed Faizal", "note": "", "href": "/board-of-advisors-mohamed-faizal-mohamed-abdul-kadir/", "img_src": "https://advisory.sg/wp-content/uploads/2020/10/Mohamed-Faizal_new.jpg"},
            {"name": "Simon Chesterman", "note": "", "href": "", "img_src": "https://i0.wp.com/advisory.sg/wp-content/uploads/2022/07/simon-chesterman.jpg?w=800&ssl=1"},
            {"name": "Wu Jiezhen", "note": "", "href": "/board-of-advisors-wu-jiezhen/", "img_src": "https://advisory.sg/wp-content/uploads/2019/08/Jiezhen.jpg"},
            {"name": "Keith Tan", "note": "", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
          ],
          "Communities: The Advisory Professionals Network Co-chairs": [
            {"name": "Rahul Daswani", "note": "", "href": "/pronet-co-chair-rahul-daswani/", "img_src": "https://advisory.sg/wp-content/uploads/2020/05/Rahul-Daswani-Square.jpg"},
            {"name": "Shawn Loh", "note": "", "href": "/pronet-co-chair-shawn-loh/", "img_src": "https://advisory.sg/wp-content/uploads/2020/05/Shawn-Loh-Square.jpg"},
            {"name": "Timothy Low", "note": "", "href": "/pronet-co-chair-timothy-low/", "img_src": "https://advisory.sg/wp-content/uploads/2020/05/Timothy-Low-Square.jpg"},
            {"name": "Jesley Chua", "note": "", "href": "/pronet-co-chair-jesley-chua/", "img_src": "https://i0.wp.com/advisory.sg/wp-content/uploads/2021/02/JC-Pic.jpg"},
          ],
          "Communities: Educators Roundtable Co-chairs": [
            {"name": "David Hoe", "note": "", "href": "/board-of-advisors-david-hoe/", "img_src": "https://advisory.sg/wp-content/uploads/2019/09/David-Hoe.jpg"},
            {"name": "Marvin Kang", "note": "", "href": "/board-of-advisors-marvin-kang/", "img_src": "https://advisory.sg/wp-content/uploads/2019/09/Marvin-Kang.jpg"},
            {"name": "Nakul Asija", "note": "", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
          ],
          "Board of Directors": [
            {"name": "Mock Yi Jun", "note": "Co-Founder & President", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Yi-Jun_Edited.png"},
            {"name": "Loon Kin Yip, Brendan", "note": "Co-Founder & Director", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Brendan_Edited.png"},
            {"name": "Ng Yau Xuan", "note": "Co-Founder & Chair of Board of Directors", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/YauXuan_Edited_4.png"},
            {"name": "Sabariesh Ilankanthir", "note": "Senior Deputy President", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2022/02/Advisory_Sab.jpg"},
            {"name": "Jamie Lim", "note": "Deputy President (Public Engagements)", "href": "", "img_src": "https://lh7-rt.googleusercontent.com/docsz/AD_4nXeImp8-4-hNRxaZ_IfYUJQNRL_H2qh7m-9Il91iXWGYAVVWXfdf2Oll-wMiF9J2Sw0PixTeQ0R3aaqdzTfS754IQkrS4xHP9IdpRg-tLR-Pub4xFQRhABakRtMQACOfWC3eq5bg7w?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Elijah Tan", "note": "Deputy President (Student Engagements)", "href": "", "img_src": "https://lh7-rt.googleusercontent.com/docsz/AD_4nXedk8IJG6Htpi8_BFaADGSSzMonsDp9IwlvXqXrhyb1cWkW_SBGDqelhmzfCTGjRwzI1WuQNzvOiBNXTP4jDMQ2jiqcI-_WtiQUO2jVIH2FraPZyO26TlOeG-nyckIJ7QpKv0BN3g?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "TBC", "note": "Deputy President (External)", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
            {"name": "Denise Yeo", "note": "Head of People & Culture", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/Denise_Edited.png"},
            {"name": "Teow Junhao", "note": "Director", "href": "", "img_src": "https://advisory.sg/wp-content/uploads/2021/11/JunHao_Edited.png"},
          ],
          "Chiefs": [
            {"name": "Clarence Tan", "note": "Chief Content Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXd2nrzSvRgwbNCuTkn0SoqkAmv8RJe84vb676OKQEYA4t_qRH8erwezJY11NVfmLlZNnFq9Bpf9DXN-hKTmHctENCWUhyT6UtmSq__38xEwxV1zzBembAMMCEB0nDF6a-3U4A-OOA?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Angel Ng", "note": "Chief Marketing Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXe5H2lTBviaJXTN-FxDOzuEYE4qRs7aE9ax3LXGUfc7qIzZmw8Chq4m29n01a3wG4xzHWGyVBUGHL_ia2karrLjcBuJFOrX87rJdB2GaQkYwZR2hLTNYkwt-REK27TbyHPPQWIdbw?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Timotheus Ng", "note": "Chief Programmes Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXeO86otHDPvn7kdigJz0aYaPG8prXbW0NKv50eIYvmCTaInCKfnpQe7PYsUFoxqUuyn89SYi8_a8IooFafo1jLWwI1-Ukad777CukDndt8TAwapPtW_vP-BgLO0Trmpsa50xDY0pg?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Javen Suki", "note": "Chief Mentorship Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXfKWGiMovTyqU4B06rztWhilijWtGEz3BggYkWCu9bB3A8W6jgO4aRIbelwSr1mP47v9gI-662ccttqqJKHBr-1_I7KdhWposlj5XoGzP1coDUjY_FNPrEYN8fUefabK2LUNS7qZg?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Kyler Ito", "note": "Chief Networks Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXdBJ7DVSFjkZ8OX8ltLeq1xDE5k-IwlHXl1T9iOSWMTCp4Ja_zlfCtmlG3prgqui9XV3NPdjVldF5bf_zOOtwFK2HYPvh7b5FigVY5KChFka9WbA4qr1iEMct6RvRV5_DwZKIt0mg?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Jamian Chan", "note": "Co-Chief Financial Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXfLr6fVxNBOsiZvrGikV3RzK9ReWhYs-snfH926VYK9cu32nk-j0ZEu3OUplb5KivRWGbuRbEeQgS22DUvZyStHHcJI4bo1bsBt3d3-C7SfRnI3_XG5vzhGlb9n-vrT0_ZUbCQ6Zw?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Ryan Wong", "note": "Co-Chief Financial Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXd1Te8kyuJfxVsmPQ803Qocjj-k557MCSMNw43PwIymO6vHew1aQisuy0u7BgfkOlDdTxVJmAqIYUdvkDWUwOSczfPR1yJgpd55iCKuWsIbuvdlxzukonxRT1Xg3wicq_q3h3v7xQ?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Qi Xuan Teh", "note": "Chief Schools Officer", "img_src":"https://lh7-rt.googleusercontent.com/docsz/AD_4nXcRuySMsx8dQYuWzPduvmQzhoJZqni0UYXi5lGoal3UiSpBEDrmssqB8YSJFtyqqWxEDb6O88o6BSKyrY58RaMm4cnLYuG0W56zsvS3vbnPP5eQoXdHA5cY02BdsRq-YerUN9IoZQ?key=LcoZotDXTm2tRQ6QzZBjov6T"},
            {"name": "Ng Wei En", "note": "Chief Technology Officer", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/WeiEn_Edited_2.png?w=800&ssl=1"},
            {"name": "Bao Shin Yeo", "note": "Head of Accounts", "img_src":"https://i0.wp.com/advisory.sg/wp-content/uploads/2021/11/BaoShin_Edited.png?w=800&ssl=1"},
            {"name": "Kay Siong Chua", "note": "Head of Strategy & Impact", "img_src":"https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
            {"name": "Su Chen Teh", "note": "Chief Donor Relations Officer", "img_src":"https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg"},
          ],
        },
      },
    }'>
      <div class="container mt-16">
          <template x-for="[category, members] in Object.entries(team.board)">
            <div>
              <h2 class="featured-title" style="font-size:3rem;" x-text="category">[CATEGORY]</h2>
              <br>
              <div class="flex flex-wrap -m-4">
                <template x-for="member in members">
                  <div class="p-4 lg:w-1/4 md:w-1/2">
                    <div class="h-full flex flex-col items-center text-center">
                        <a x-bind:href="member.href">
                            <img class="shadow rounded-full w-full aspect-square align-middle border-none" x-bind:src="member.img_src" x-bind:alt="head.name">
                        </a>
                        <div class="p-4 text-center font-normal">
                          <p>
                            <b x-text="member.name">[MEMBER]</b>
                            <br>
                            <span x-text="member.note">[NOTE]</span>
                          </p>
                        </div>
                    </div>
                  </div>
                </template>                                                 
              </div>
              <br>
            </div>
          </template>
      </div>
    </section>
  </main>
</div>
