{{!< default}}

<div class="content-area">
  <main class="site-main">
    <header class="single-header kg-canvas">
        <h1 class="single-title">The Team</h1>
    </header>
    <section class="body-font" x-data='{
      "team": {
        "board": {
          "Board of Advisors": [
            {"name": "Aaron Maniam", "note": "Chair", "href": "/board-of-advisors-aaron-maniam/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Aaron.jpg"},
            {"name": "Alvin Tan", "note": "", "href": "/board-of-advisors-alvin-tan/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Alvin-Tan-resize%3D768%2C768%26ssl%3D1.jpg"},
            {"name": "David Chua", "note": "", "href": "/board-of-advisors-david-chua/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/David-Chua-Square.jpg"},
            {"name": "Desmond M. Koh", "note": "", "href": "/board-of-advisors-desmond-m-koh", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Desmond.jpg"},
            {"name": "Eric Lim", "note": "", "href": "/board-of-advisors-eric-lim/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/UOB-Mr-Eric-Lim-Chief-Sustainability-Officer-scaled-1.jpg"},
            {"name": "Hosea Lai", "note": "", "href": "/board-of-advisors-hosea-lai/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Hosea-Square.jpg"},
            {"name": "Jaclyn Seow", "note": "", "href": "/board-of-advisors-jaclyn-seow/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Jaclyn.jpg"},
            {"name": "Jacqueline Poh", "note": "", "href": "/board-of-advisors-jacqueline-poh/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Jacqueline-Poh.jpg"},
            {"name": "Juliana M. Chan", "note": "", "href": "/board-of-advisors-juliana-m-chan/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Juliana-1.jpg"},
            {"name": "Keith Tan", "note": "", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/256px-Man_Silhouette2.jpg"},
            {"name": "Mohamed Faizal", "note": "", "href": "/board-of-advisors-mohamed-faizal-mohamed-abdul-kadir/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Mohamed-Faizal_new.jpg"},
            {"name": "Simon Chesterman", "note": "", "href": "/board-of-advisors-simon-chesterman/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/simon-chesterman-w%3D800%26ssl%3D1.jpg"},
            {"name": "Wu Jiezhen", "note": "", "href": "/board-of-advisors-wu-jiezhen/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Jiezhen.jpg"},
          ],
          "Communities: The Advisory Professionals Network Co-chairs": [
            {"name": "Jesley Chua", "note": "", "href": "/pronet-co-chair-jesley-chua/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/JC-Pic.jpg"},
            {"name": "Rahul Daswani", "note": "", "href": "/pronet-co-chair-rahul-daswani/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Rahul-Daswani-Square.jpg"},
            {"name": "Shawn Loh", "note": "", "href": "/pronet-co-chair-shawn-loh/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Shawn-Loh-Square.jpg"},
            {"name": "Timothy Low", "note": "", "href": "/pronet-co-chair-timothy-low/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Timothy-Low-Square.jpg"},
          ],
          "Communities: Educators Roundtable Co-chairs": [
            {"name": "David Hoe", "note": "", "href": "/board-of-advisors-david-hoe/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/David-Hoe.jpg"},
            {"name": "Marvin Kang", "note": "", "href": "/board-of-advisors-marvin-kang/", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Marvin-Kang.jpg"},
            {"name": "Nakul Asija", "note": "", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/256px-Man_Silhouette2.jpg"},
          ],
          "Board of Directors": [
            {"name": "Mock Yi Jun", "note": "Co-Founder & President", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Yi-Jun_Edited.png"},
            {"name": "Loon Kin Yip, Brendan", "note": "Co-Founder & Director", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Brendan_Edited.png"},
            {"name": "Ng Yau Xuan", "note": "Co-Founder & Chair of Board of Directors", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/YauXuan_Edited_4.png"},
            {"name": "Sabariesh Ilankanthir", "note": "Senior Deputy President", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Advisory_Sab.jpg"},
            {"name": "Jamie Lim", "note": "Deputy President (Public Engagements)", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/JamieLim_Edited.jpg"},
            {"name": "Elijah Tan", "note": "Deputy President (Student Engagements)", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/ElijahTan.png"},
            {"name": "Denise Yeo", "note": "Head of People & Culture", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/Denise_Edited.png"},
            {"name": "Teow Junhao", "note": "Director", "href": "", "img_src": "https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/JunHao_Edited.png"},
          ],
          "Chiefs": [
            {"name": "Clarence Tan", "note": "Chief Content Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/ClarenceTan_Edited.jpg"},
            {"name": "Angel Lau", "note": "Chief Marketing Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/AngelLau_Edited.jpg"},
            {"name": "Timotheus Ng", "note": "Chief Programmes Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/TimotheusNg_Edited.png"},
            {"name": "Javen Suki", "note": "Chief Mentorship Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/JavenSuki_Edited.png"},
            {"name": "Kyler Ito", "note": "Chief Networks Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/KylerIto_Edited.png"},
            {"name": "Jamian Chan", "note": "Co-Chief Financial Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/JamianChan_Edited.jpg"},
            {"name": "Ryan Wong", "note": "Co-Chief Financial Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/RyanWong_Edited.png"},
            {"name": "Qi Xuan Teh", "note": "Chief Schools Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/QiXuanTeh_Edited.png"},
            {"name": "Ng Wei En", "note": "Chief Technology Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/WeiEn_Edited_2-w%3D800%26ssl%3D1.png"},
            {"name": "Bao Shin Yeo", "note": "Head of Accounts", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/BaoShin_Edited-w%3D800%26ssl%3D1.png"},
            {"name": "Kay Siong Chua", "note": "Head of Strategy & Impact", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/256px-Man_Silhouette2.jpg"},
            {"name": "Su Chen Teh", "note": "Chief Donor Relations Officer", "img_src":"https://advisorysg-ghost.s3.ap-southeast-1.amazonaws.com/static/team/256px-Man_Silhouette2.jpg"},
          ],
        },
      },
    }'>
      <div class="container mt-16">
          <template x-for="[category, members] in Object.entries(team.board)">
            <div>
              <h2 class="featured-title" style="font-size:3rem;" x-text="category">[CATEGORY]</h2>
              <br>
              <div class="flex flex-wrap -m-4">
                <template x-for="member in members">
                  <div class="p-4 lg:w-1/4 md:w-1/2">
                    <div class="h-full flex flex-col items-center text-center">
                        <a x-bind:href="member.href">
                            <img class="shadow rounded-full w-full aspect-square align-middle border-none" x-bind:src="member.img_src" x-bind:alt="head.name">
                        </a>
                        <div class="p-4 text-center font-normal">
                          <p>
                            <b x-text="member.name">[MEMBER]</b>
                            <br>
                            <span x-text="member.note">[NOTE]</span>
                          </p>
                        </div>
                    </div>
                  </div>
                </template>                                                 
              </div>
              <br>
            </div>
          </template>
      </div>
    </section>
  </main>
</div>
