{{!< default}}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h1 class="entry-title">The Team</h1>
        </div>
        <br>
        <center><h1 class="single-title">BOARD OF ADVISORS</h1></center>
        <br>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-aaron-maniam/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Aaron.jpg" alt="Aaron Maniam">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Aaron Maniam</b><br>Chair</p></div>
                </div>
            </div>    
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-alvin-tan/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://i2.wp.com/advisory.sg/wp-content/uploads/2019/02/Alvin-Tan.jpg?resize=768%2C768&ssl=1" alt="Alvin Tan">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Alvin Tan</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-brad-verne/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2022/01/BradVerne.jpg" alt="Brad Verne">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Brad Verne</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/David-Chua-Square.jpg" alt="David Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Chua</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-desmond-m-koh/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Desmond.jpg" alt="Desmond M. Koh">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Desmond M. Koh</b></p></div>
                </div>
            </div>            
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-eric-lim/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2022/01/UOB-Mr-Eric-Lim-Chief-Sustainability-Officer-scaled-1.jpg" alt="Eric Lim">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Eric Lim</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-hosea-lai/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/04/Hosea-Square.jpg" alt="Hosea Lai">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Hosea Lai</b></p></div>
                </div>
            </div>            
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-jaclyn-seow/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Jaclyn.jpg" alt="Jaclyn Seow">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Jaclyn Seow</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-jacqueline-poh/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/10/Jacqueline-Poh.jpg" alt="Jacqueline Poh">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Jacqueline Poh</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2"> <!-- display bug here -->
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-juliana-m-chan/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2022/02/Juliana-1.jpg" alt="Juliana Chan">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Juliana Chan</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-khairul-rusydi/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/09/Rusydi.jpg" alt="Khairul Rusydi">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Khairul Rusydi</b></p></div>
                </div>
            </div>   
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-mohamed-faizal-mohamed-abdul-kadir/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/10/Mohamed-Faizal_new.jpg" alt="Mohamed Faizal">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Mohamed Faizal</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-serene-goh/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Serene.jpg" alt="Serene Goh">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Serene Goh</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-simon-chesterman/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2022/07/simon-chesterman.jpg?w=800&ssl=1" alt="Simo Chesterman">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Simo Chesterman</b></p></div>
                </div>
            </div>              
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-wong-sheau-fong/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Sheau-Fong.jpg" alt="Wong Sheau Fong">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Wong Sheau Fong</b></p></div>
                </div>
            </div> 
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-wu-jiezhen/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/08/Jiezhen.jpg" alt="Wu Jiezhen">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Wu Jiezhen</b></p></div>
                </div>
            </div>                                                              
        </div>
        <br>
        <center><h1 class="single-title">COMMUNITIES: THE ADVISORY PROFESSIONALS NETWORK CO-CHAIRS​</h1></center>
        <br>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/rahul-daswani/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/05/Rahul-Daswani-Square.jpg" alt="Aaron Maniam">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Rahul Daswani</b></p></div>
                </div>
            </div>    
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/shawn-loh/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/05/Shawn-Loh-Square.jpg" alt="Shawn Loh">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Shawn Loh</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/timothy-low/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2020/05/Timothy-Low-Square.jpg" alt="Timothy Low">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Timothy Low</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/jesley-chua/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2021/02/JC-Pic.jpg" alt="Jesley Chua">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Jesley Chua</b></p></div>
                </div>
            </div>
        </div>
        <br>
        <center><h1 class="single-title">COMMUNITIES: EDUCATORS ROUNDTABLE CO-CHAIRS​​</h1></center>
        <br>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-david-hoe/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/09/David-Hoe.jpg" alt="David Hoe">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>David Hoe</b></p></div>
                </div>
            </div>    
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="https://advisory.sg/board-of-advisors-marvin-kang/">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/09/Marvin-Kang.jpg" alt="Marvin Kang">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Marvin Kang</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2"> <!--bug here-->
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg" alt="Nakul Asija">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Nakul Asija</b></p></div>
                </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2"><!--bug here-->
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full max-h-full align-middle border-none" src="https://advisory.sg/wp-content/uploads/2019/01/256px-Man_Silhouette2.jpg" alt="TBC">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>TBC</b></p></div>
                </div>
            </div>
        </div>
        <br>
        <center><h1 class="single-title">BOARD OF DIRECTORS​​</h1></center>
        <br>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/Yi-Jun_Edited.png" alt="Mock Yi Jun">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Mock Yi Jun</b><br>Co-Founder & President</p></div>
                </div>
            </div>  
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/Brendan_Edited.png" alt="Brendan Loon">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Loon Kin Yip, Brendan</b><br>Co-Founder & Director</p></div>
                </div>
            </div>  
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/YauXuan_Edited_4.png" alt="Ng Yau Xuan">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Ng Yau Xuan</b><br>Co-Founder & Director</p></div>
                </div>
            </div>  
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/Justin_Edited_3.png" alt="Justin Quek">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Justin Quek</b><br>Deputy President<br>(External)</p></div>
                </div>
            </div>  
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/JunHao_Edited.png" alt="Teow Junhao">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Teow Junhao</b><br>Deputy President<br>(Public Engagements)</p></div>
                </div>
            </div>  
            <div class="p-4 lg:w-1/4 md:w-1/2"> <!-- bug here-->
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2022/02/Advisory_Sab.jpg" alt="Sabariesh Ilankanthir">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Sabariesh Ilankanthir</b><br>Deputy President<br>(Student Engagements)</p></div>
                </div>
            </div>   
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/Denise_Edited.png" alt="Yeo Su Yia, Denise">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Yeo Su Yia, Denise</b><br>Head of People & Culture</p></div>
                </div>
            </div>      
            <div class="p-4 lg:w-1/4 md:w-1/2"> <!-- in WordPress codes but not in the webpage-->
                <div class="h-full flex flex-col items-center text-center">
                    <a href="">
                        <img class="shadow rounded-full max-w-full h-auto align-middle border-none" src="https://advisory.sg/wp-content/uploads/2021/11/Nicole_Edited.png" alt="Lim Xinyi, Nicole">
                    </a>
                    <div class="p-4 text-center font-normal"><p><b>Lim Xinyi, Nicole</b><br>Director</p></div>
                </div>
            </div>
        </div>                                                                                             
    </div>
</section>

