{{!< default}}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h1 class="entry-title">IMPACT</h1>
            <br>
            <h1 class="single-title">ONLINE REPOSITORY</h1>
            <center><img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Online-Repository-oho6i9yghlfxqk80hycs3ligynbxh7r1fcnxhlmlmo.png?w=800&amp;ssl=1" title="Online Repository" alt="Online Repository"></center>
            <br>
            <center><p class="entry-title"><font size="4.5" color="#696969">From <strong>November 2017</strong> to <strong>January 2021</strong>, Advisory's <strong>online repository</strong> has had:<br></font><br></p></center>
        </div>
        <div class="flex flex-wrap flex-row justify-center items-center">
            <div class="w-full px-8 py-6 lg:w-1/2 xl:w-1/4"><center>
                <h1 class="single-title">235,576</h1>
                <p class="entry-title"><font size="4.5" color="#808080">Total Repository Views</font></p>
            </center></div>
            <div class="w-full px-8 py-6 lg:w-1/2 xl:w-1/4"><center>
                <h1 class="single-title">7,853</h1>
                <p class="entry-title"><font size="4.5" color="#808080">Average Views Per Month</font></p>
            </center></div>
            <div class="w-full px-8 py-6 lg:w-1/2 xl:w-1/4"><center>
                <h1 class="single-title">129000</h1>
                <p class="entry-title"><font size="4.5" color="#808080">Published Articles</font></p>
            </center></div>
            <div class="w-full px-8 py-6 lg:w-1/2 xl:w-1/4"><center>
                <h1 class="single-title">105,216</h1>
                <p class="entry-title"><font size="4.5" color="#808080">Users</font></p>
            </center></div>
        </div>

        <br>
        <div class="flex flex-col text-center w-full">
            <h1 class="single-title">OFFLINE PROGRAMMING</h1>
        </div>

        <br>
        <div class="flex flex-wrap flex-row justify-around items-center space-y-4">
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/12/D-Space.jpg?resize=1024%2C782&ssl=1" width="320" height="244" >
            </div>
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Centre-image-ohwc21w9k9l2g53u7lvundxq8fp75yhy3v3wybo40e.jpg?w=800&ssl=1" width="320" height="244" >
            </div>
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Explore-Google-ohwbecet6p4pm7jkncylrdb6ukjx0sdo6ir172tl18.jpg?w=800&ssl=1" width="320" height="244" >
            </div>
        </div> 

        <br>
        <div class="flex flex-col text-center w-full">
            <center><p class="entry-title"><font size="4.5" color="#696969">Since <strong>September 2018,</strong> Advisory's <strong>offline programming</strong> has engaged:<br></font><br></p></center>
        </div>

         <div class="flex flex-wrap flex-row justify-center items-center">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6"><center>
                <h1 class="single-title">9,344</h1>
                <p class="entry-title"><font size="4.5" color="#808080">Students</font></p>
            </center></div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6"><center>
                <h1 class="single-title">66</h1>
                <p class="entry-title"><font size="4.5" color="#808080">Public &amp; School Events</font></p>
            </center></div>
        </div>

        <br>
        <div class="flex flex-col text-center w-full">
            <center><h1 class="single-title">PARTNERSHIPS</h1></center><br>
            <center><p class="entry-title"><font size="4.5" color="#696969">Advisory has built formal <strong>partnerships</strong> with organisations including:<br></font><br></p></center>
        </div>

        <div class="flex flex-wrap flex-row justify-around items-center">
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/NYC-nrjij2uevj1eqeyb98omrbvt5gx2wflurs6ug71d6o.jpg?w=800&ssl=1">
            </div>
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/YCS-nrjij3s92d2p20wy3r39btn9qusg44pl3wubxgzz0g.jpg?w=800&ssl=1">
            </div>
            <div >
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Inspirit-nrjij1wkop04eszoeqa06u4ck31poqi4fnjcyx2rcw.jpg?w=800&ssl=1">
            </div>
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/YoungNTUC-nrjij4q3973zdmvky9hvwbeqc8ntbttbg1hteqyku8.jpg?w=800&ssl=1">
            </div>
            <div>
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/12/Reactor-School-Logo_small-1-e1575763848810.png?fit=150%2C58&ssl=1">
            </div>
        </div>

        <br>
        <div class="flex flex-col text-center w-full">
            <center><h1 class="single-title">REPORTS</h1></center><br>
            <center><p class="entry-title"><font size="4.5" color="#696969">For more information about who we are, our work, and our impact, do check out these publications, which go into greater detail, including the <b>Advisory 2016-2019 Impact Report</b> and the <b>Advisory 2020 Impact Report</b><br></font><br></p></center>
        </div>        

        <div class="flex flex-wrap flex-row justify-around items-center">
            <div>
                <a href="https://drive.google.com/file/d/19xsYm7GpTfNXx_itmsTScblVY72wlHh7/view">
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Screenshot-2021-01-30-at-11.06.26-PM-p24sqcsecpni47oaoc0h20j0629a4e74ez7gb4t24g.png?w=800&ssl=1">
                </a>
            </div>
            <div>
                <a href="https://drive.google.com/file/d/1mFKu8QjNP4dGbWyB87yCC0ETqyw8T-qr/view">
                <img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Impact-Report-Cover-Image-PNG-1-ohwbvxxwvjkpstheybvi0y8ohfg4dstm5hlybv045c.png?w=800&ssl=1">
                </a>
            </div>
        </div>

        <br>
        <div class="flex flex-col text-center w-full">
            <h1 class="single-title">QUOTES</h1>
            <br>
            <div> 
                <p class="entry-title">"With the support of the National Youth Council, Advisory provides youth with <b> the opportunity to connect with working professionals from a wide range of sectors. </b> This helps them gain a better understanding of the different career pathways available today." </p> 
                <p class="sticky-title">Mr Baey Yam Keng</p>
                <p class="entry-title"><font color="#696969">Senior Parliamentary Secretary</font></p>
            </div>
            <br>
            <div> 
                <p class="entry-title">
"On behalf of the National University of Singapore, I affirm Advisory’s work in providing students from all walks of life the opportunities and resources they need to make <b>informed career choices.</b>"</p> 
                <p class="sticky-title">Associate Professor Peter Pang</p>
                <p class="entry-title"><font color="#696969">Dean of Students, National University of Singapore</font></p>
            </div>
            <br>
            <div> 
                <p class="entry-title">
                "I support [Advisory] and applaud the team’s effort to <b>bridge the gap</b> between young Singaporeans and the working world by <b>providing insights into jobs</b> and industries available today.”</p> 
                <p class="sticky-title">Mr Ong Kah Kuang</p>
                <p class="entry-title"><font color="#696969">Executive Director, Youth Corps Singapore</font></p>
            </div>
        </div>

        <br>

    </div>
</section>