{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="container large">
            <header class="single-header kg-canvas">
                <h1 class="single-title">Events</h1>
            </header>
            <p class="loxi" data-background-color="" data-categories="all" data-color="#7fc11c" data-default-layout="list" data-font-family="" data-is-demo="false" data-show-category-filter="1" data-show-location-address="1" data-show-location-filter="1" data-show-search-filter="1" data-show-view-switcher="1" data-show-list-view-image="1" data-show-social-media-buttons="1" data-site-id="84040" data-subdomain="advisory-test" data-theme="light" data-timezone="Asia/Singapore" data-title="Advisory Test" data-venue="all"><a href="https://advisory-test.loxi.io">View more events</a> on <a href="https://loxi.io">Loxi.io</a></p><script async src="https://advisory-test.loxi.io/embed/client.js"></script>
        </div>
    </main>
</div>
