{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="container large">
            <header class="single-header kg-canvas">
                <h1 class="single-title">Impact</h1>
            </header>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div justify="center" align-items="center" class="elfsight-app-7a9bc7c0-706f-48a4-8180-3f6e65f1f058"></div>
        </div>
    </main>
</div>
