{{!< default}}
<!--
<div class="content-area">
    <main class="site-main">
        <div class="container large">
            <header class="single-header kg-canvas">
                <h1 class="single-title">Impact</h1>
            </header>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div justify="center" align-items="center" class="elfsight-app-7a9bc7c0-706f-48a4-8180-3f6e65f1f058"></div>

        </div>
    </main>
</div>-->

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h1 class="entry-title">Impact</h1>
            <br>
            <h1 class="single-title">Online Repository</h1>
            <center><img src="https://i0.wp.com/advisory.sg/wp-content/uploads/elementor/thumbs/Online-Repository-oho6i9yghlfxqk80hycs3ligynbxh7r1fcnxhlmlmo.png?w=800&amp;ssl=1" title="Online Repository" alt="Online Repository"><center>
            <br>
            <center><p class="entry-title"><font size="4.5" color="#696969">From <strong>November 2017</strong> to <strong>January 2021</strong>, Advisory's <strong>online repository</strong> has had:<br></font><br></p><center>
        </div>

            <div class="container-impact-number">
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6"><center>
                    <h1 class="single-title">235,576</h1>
                    <p class="entry-title"><font size="4.5" color="#808080">Total Repository Views</font></p>
                </center></div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6"><center>
                    <h1 class="single-title">105,216</h1>
                    <p class="entry-title"><font size="4.5" color="#808080">Users</font></p>
                </center></div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6"><center>
                    <h1 class="single-title">7,853</h1>
                    <p class="entry-title"><font size="4.5" color="#808080">Average Views Per Month</font></p>
                </center></div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6"><center>
                    <h1 class="single-title">129</h1>
                    <p class="entry-title"><font size="4.5" color="#808080">Published Articles</font></p>
                </center></div>
            </div>

    </div>
</section>
