{{!< default}}

{{#contentFor "title"}}{{meta_title}}{{/contentFor}}
<style>

.content-area { 
    
    background-color: white;
    text-align: left;
    
}

.contentinfoarea {
    
    background-color: white;
    text-align: left;
    line-height: 8;
}

</style>
<div class="content-area">
    <main class="site-main">
        
    <div class="contentinfoarea">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        {{#is "post"}}

    </div>
    
            <div id="content-dropdown-enable"></div>
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
            {{> comment}}
        {{/is}}
    </main>

</div>
