{{!< default}}

{{#contentFor "title"}}{{meta_title}}{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <div class="container pb-24">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Disclaimer</strong>
                <span class="block sm:inline">This post may be incomplete or contain errors.</span>
            </div>
        </div>
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        {{#is "post"}}
            <div id="content-dropdown-enable"></div>
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
            {{> comment}}
        {{/is}}
    </main>
</div>
