body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container{
    width:auto;
    height:auto;
  }

  .nav-bar {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    margin-bottom: 0%;
    width:100%;
    height: 10%;
    background-color: salmon;
    color:white;
    font-weight: bold;
  }
  
  .home-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    background-color: rgb(255, 239, 222);
  }
  
  .home-page-container > h1 {
    padding-left:5%;
    font-size: 60px;
    font-weight: bold;  
  }
  
  .home-page-container > p {
    padding-left:5%;
    font-size: 20px;
    font-weight: bold;  
  }
  
  .home-page-background {
    width: 100%;
    height:100%;
  }
  
  .footer > p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height:20%;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: salmon;
    font-weight: bold;
    color: white;
}