.featured-wrapper {
    margin-top: 6rem;
}

.featured-wrapper .u-placeholder {
    margin-bottom: 3rem;
}

.featured-wrapper .post-title {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.featured-track {
    align-items: center;
}

.has-serif-title .featured-wrapper .post-title {
    font-family: var(--font-serif);
}

.featured-title {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray-color);
    color: var(--brand-color);
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.slide-content {
    display: flex;
    align-items: center;
}

.slide-image {
    width: 50%;
    flex-shrink: 0;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .flex.items-center {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .flex.items-center > span {
        max-width: calc(50% - 0.75rem);
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .flex.items-center > span:nth-child(3) {
        max-width: 100%;
        margin-right: 0;
    }
}
