.navigation-previous .navigation-icon {
    margin-left: -2px;
}

.navigation-next .navigation-link {
    justify-content: flex-end;
}

.navigation-next .navigation-icon {
    margin-right: -2px;
}

.navigation-link {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navigation .navigation-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
}

.navigation {
    position: relative;
    height: 0;
    width: 43px;
    padding: 0;
    padding-bottom: 43px;
}
