.share {
    display: flex;
}

.share-link {
    display: flex;
    align-items: center;
    margin: 0 0.6rem;
    padding: 0 0.8rem;
    height: 2.6rem;
    color: var(--white-color);
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.share-link .icon {
    width: 14px;
    height: 14px;
}

.share-link .icon-facebook {
    margin-left: -0.3rem;
}

.share-link .icon-instagram {
    margin-right: 0.3rem;
    margin-left: -0.3rem;
}

.share-link .icon-linkedin {
    margin-right: 0.3rem;
    margin-left: -0.3rem;
}

.share-link-facebook {
    background-color: var(--facebook-color);
}

.share-link-instagram {
    background: var(--instagram-color);
}

.share-link-linkedin {
    background-color: var(--linkedin-color);
}
